
body{
  font-family: 'Arimo', sans-serif;

}


/* colors */
/* mobile */
.btn {
  color: #626250;
  border-radius: 0px;
}
.btn:hover {
  background-color: #bde6f3;
  color: #626250;
  border-color: #bde6f3;
}
.btn-subtitle {
  font-size: 70%;
}

.btn-primary:hover {
  background-color: #328cc9;
  border-color: #328cc9;
  color: #ffffff;
}

.noti {
  width: 600px;
  line-height: 35px;
  background-color: #F5F5F5;
  box-shadow: 1px 0px 20px -6px;
  padding: 40px;
  margin-top: 100px;
  text-align: left;
  font-size: 14px;
}

.respond {
  width: 700px;
  line-height: 35px;
  background-color: #F5F5F5;
  box-shadow: 1px 0px 20px -6px;
  padding: 40px;
  margin-top: 100px;
  text-align: left;
  font-size: 14px;
}

input[type="submit"] {
  background-color: #004E83;
  border: none;
  color: #ffffff;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

input[type="submit"]:hover {
  background-color: #002c4b;
}

input[type="text"] {
  height: 25px;
  width: 100%;
}

select {
  height: 25px;
  width: 100%;
}

td {
  padding: 5px;
}